<nav>
  <!--
  chemin actuel : monapp.com/admin/dashboard
  /chemin : root -> monapp.com/chemin
  chemin OU ./chemin : route enfant -> monapp.com/admin/dashboard/chemin
  ../chemin : répertoire précédent -> monapp.com/admin/chemin
  -->
  <ul>
    <li>Panier : {{exempleService.panier.length}}</li>
    <li>
      <a [routerLink]="['/presentation']">Présentation</a>
    </li>
    <li>
      <a routerLink="/communication">Communication</a>
    </li>
    <li>
      <a routerLink="/form">Formulaires</a>
    </li>
    <li>
      <a routerLink="/reactive">Formulaires Reactifs</a>
    </li>
    <li>
      <a routerLink="/services">Services</a>
    </li>
    <li>
      <a routerLink="/observables">Observables</a>
    </li>
    <li>
      <a routerLink="/requetes">Requêtes</a>
    </li>
    <li>
      <a routerLink="/operators/1">Operators</a>
    </li>
    <li>
      <a routerLink="/subjects">Subjects</a>
    </li>
    <li *ngIf="!authService.isLogged">
      <a routerLink="/login">Login</a>
    </li>
    <li>
      <button *ngIf="authService.isLogged" (click)="authService.logout()">Déconnexion</button>
    </li>
  </ul>
</nav>
